How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros,print the position

Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [2]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [14]:
df['Y'] = pd.Series((df.X.groupby(df.X.eq(0).cumsum().mask(df.X.eq(0))).cumcount() + 1).mask(df.X.eq(0), 0).tolist())

In [16]:
df.head(15)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [21]:
import numpy as np
rng = pd.bdate_range('2015-01-01', '2015-12-31')
s = pd.Series(np.random.randn(len(rng)), index=rng)

In [22]:
s.head()

2015-01-01   -0.273360
2015-01-02   -1.169717
2015-01-05    1.304669
2015-01-06    0.393293
2015-01-07    0.654174
Freq: B, dtype: float64

Find the sum of the values in s for every Wednesday

In [25]:
s[s.index.dayofweek==2].sum()

3.170764425290426

Average For each calendar month

In [27]:
s.resample('M').mean()

2015-01-31   -0.150215
2015-02-28   -0.021394
2015-03-31   -0.101139
2015-04-30   -0.082627
2015-05-31    0.027552
2015-06-30    0.086155
2015-07-31    0.136773
2015-08-31   -0.141737
2015-09-30   -0.113698
2015-10-31    0.025632
2015-11-30   -0.149631
2015-12-31    0.325481
Freq: M, dtype: float64

For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [32]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-19
2015-05-31   2015-04-14
2015-09-30   2015-07-01
2016-01-31   2015-12-10
dtype: datetime64[ns]